body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    color: black;
    margin:0;
    padding: 20px;
}

#contenedor {
    background-color: rgb(59, 56, 1);
    max-width: 800px;
    margin: auto;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#fotoPerfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007acc;
}

#contenedor {
    background-color:lightgray;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#nombreCompleto {
    color: black;
    text-align: left;
    padding-bottom: 50pxgi;
}

.seccion{
    margin-top: 30px;
}

.seccion h2{
    color:#012944;
    border-bottom: 2px solid #013658;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul{
    padding-left: 20px;
}

li{
    margin-bottom: 8px;
}

.etiqueta{
    background-color: lightslategray;
    padding: 4px 8px;
    border-radius: 25px;
    font-size: 1em;
}

.empresa, .institución{
    font-weight: bold;
    color: #00253d;

}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th , td {
    border: 1px solid black;
}

th{
    background-color: #00253d;
    color:white;
    padding: 8px;
    text-align: left;
}

td{
    padding:8px;
}